@page "/watchList"
@using ToWatchList.Data
@using ToWatchList.Interfaces
@using Newtonsoft.Json

<PageTitle>Watch List</PageTitle>

<h1>Watch List</h1>

<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
    @foreach (var item in MediaItems)
    {
        <MediaCard ShowDelete=true MediaItem="@item" ItemButtonAction="RemoveItemFromList"></MediaCard>
    }
</div>

@code {
    private readonly List<MediaItem> MediaItems;
    private readonly IDatabaseStorage Database;

    public WatchList()
    {
        Database = DatabaseStorageFactory.GetDatabaseStorage();
        MediaItems = new List<MediaItem>();
    }

    protected override Task OnInitializedAsync()
    {
        return GetMediaItemsAsync();
    }

    private async Task GetMediaItemsAsync()
    {
        MediaItems.Clear();
        var list = await Database.GetListAsync();
        foreach (var jsonString in list)
        {
            MediaItems.Add(JsonConvert.DeserializeObject<MediaItem>(jsonString));
        }
    }

    public async Task RemoveItemFromList(MediaItem media)
    {
        string mediaJson = JsonConvert.SerializeObject(media);
        await Database.RemoveFromListAsync(mediaJson);
        await GetMediaItemsAsync();
        StateHasChanged();
    }
}